<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.IPersonDao">
  <select id="findall" resultType="boot">
    SELECT * FROM boot
  </select>
  <delete id="deletebyid">
    DELETE FROM boot WHERE id=#{id}
  </delete>

</mapper>    